body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: indianred;
    font-size: 21px;
    overflow: hidden;
}

header {
    padding: 1.5rem;
    max-height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;

    & nav {
        display: flex;
        gap: 3rem;

        & .headerBtn {
            width: 120px;
            height: 40px;
            border-radius: 33%;
            border: none;
            background-color: black;
            color: white;

            &:hover {
                opacity: 80%;
                cursor: pointer;
            }
        }
    }
}

section {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    & .text {
        padding: 1.5rem;
    }
}

#content.transition {
    animation: fade-in .5s forwards;
}

@keyframes fade-in{
    100% {
        transform: none;
    }

    0% {
        transform: translateY(20px);
        opacity: .2;
    }
}